<template>
  <!-- https://stackoverflow.com/a/57327582 -->
  <v-data-table
    item-key="name"
    class="elevation-1"
    :loading="loading"
    loading-text="Chargement... Veuillez patienter s'il vous plaît"
    :headers="headers"
    :items="countries"
    :items-per-page="18"
    :footer-props="{
      'items-per-page-options': [5, 10, 18, -1],
      'items-per-page-text': 'pays par page',
      'items-per-page-all-text': 'Tout'
    }"
  >
    <template v-slot:[`item.flag`]="{ item }">
      <v-img
        max-height="64"
        max-width="64"
        :src="item.flag"
        class="my-2"
      ></v-img>
    </template>
  </v-data-table>
</template>

<script lang="ts">
  import Vue from 'vue'

  export default Vue.extend({
    name: 'Table',

    data: () => ({
      loading: true,
      countries: [],
      headers: [
        { text: 'Drapeau', value: 'flag' },
        {
          text: 'Nom',
          align: 'start',
          sortable: false,
          value: 'name',
        }
      ],
    }),

    created() {
      fetch('https://restcountries.eu/rest/v2/all?fields=name;flag')
        .then(response => response.json())
        .then(data => {
          console.log(data);
          this.countries = data
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => {
          this.loading = false;
        })
    }
  })
</script>
